[2017-06-09 01:24] AlgusDark opened #33 "Create examples in Documentation"
Similar to https://bloomer.js.org/#/documentation/elements/box

[2017-06-09 01:26] AlgusDark opened #34 "Revisit tests"
Need a lot of work in testing, right now the tests have positive cases and lack of some points.

[2017-06-09 16:21] AlgusDark opened #36 "Bloomer needs a logo"

[2017-06-10 21:16] #33 closed

[2017-06-11 01:35] #36 closed

[2017-06-12 02:09] AlgusDark opened #45 "[idea] create all styles with styled components"
Maybe creating a new repo or rewrite bloomer helpers to have same logic as Bulma but with styled components instead of sass

[2017-06-13 07:46] floric commented on #45
Hey Algus,
thanks for this great project. I started something really similar until I found this!
Unfortunately ReBulma is quite outdated.
If you like I'd like to contribute.
Did you consider support glamorJS?

[2017-06-13 12:39] AlgusDark commented on #45
Hi @floric,
thanks, any help is welcome :)
I didn't knew about ReBulma until a few days.

I was thinking about glamorJS or styled-components. Maybe rewrite Bulma Sass files to an Object to be injected with ThemeProvider, that way you could do with Blumer the same as Bulma customization.

Right now, in my internal discussion, styled-components is winning. So I opened this issue for discussion so ot

[2017-06-13 17:52] AlgusDark opened #46 "Add Tree-shaking and UMD info on Docs"
Bloomer is able to be used with Tree-shaking thanks to `bloomer/esm` and already has `module | jsnext:main` in `package.json`.

Also, you can use it with [UMD](https://unpkg.com/bloomer@0.5.5/bundles/bloomer.min.js) thanks to www.unpkg.com

[2017-06-14 00:18] AlgusDark opened #47 "Use dot notation for JSX components"
For example, instead of

[code]

You could:

[code]

[2017-06-14 00:27] AlgusDark commented on #47
Need some investigation since, what's going to happen if someone doesn't need, for example, `<NavCenter/>`?

[2017-06-14 18:45] AlgusDark opened #48 "New API for Columns"
| Prop | Description |
| --- | --- |
|*isSize* | `1..12` - `'3/4'` - `'2/3'` - `'1/2'` - `'1/3'` - `'1/4'` - `'full'` - `'narrow'` |
|*isMobile*| same as above |
|*isTablet*| same as above |
|*isDesktop*| same as above |

That way we can remove props `isFull`, `isNarrow`, `isThreeQuarters`, `isTwoThirds`, `isHalf`, `isOneThird`, `isOneQuarter`.

The same should occur to *Offset* props, leaving onl

[2017-06-14 19:14] AlgusDark commented on #48
After that, we can leave it to only two props:

| Prop | type |
| --- | --- |
| isSize | `number` - `string` - `object` |
| isOffset | same as above |

so users can do something like:
[code]

**rendering:**
[code]

Leaving that to only two props to use.

Also, this way we can introduce `widescreen` modifier, since I forgot to include that (but is already in the code).

[2017-06-14 20:06] AlgusDark opened #49 "Refactor Icon element"
[code]

**to**
[code]

[2017-06-14 20:13] AlgusDark opened #50 "Refactor isRatio prop from Image"
| Prop | Description |
| --- | --- |
| isRatio | `square` - `1:1` - `4:3` - `3:2` - `16:9` - `2:1` |

[2017-06-14 20:19] AlgusDark opened #51 "Introduction of `tag` prop"
User would be able to render the `tag` element that's best suited. Since Bulma let's you do that, then we should introduce it as a feature.

For example, if we want a `Title` as `h3` but with class `.is-size-1`, we should do something like:
[code]
And, if we want that to be a paragraph instead:
[code]

With this new `prop`, we could do it like:
[code]
**or:**
[code]

This should be implemented to

[2017-06-16 08:11] KaRkY commented on #45
Hi,

I would like to see this project rewritten in styled-components or maybe JSS. Maybe then components like DatePicker, FileUpload etc. could be added

[2017-06-16 10:31] floric commented on #45
Hey :)
I've been experimenting a bit the last days. Unfortunately, I only got used to glamor so far. So my opinion might be a bit unhelpful.
Hopefully next week I could support with better proposals.

Is the idea to get something like hybrid solution based on the customizable SASS theme or overwrite it completely?

[2017-06-16 14:02] AlgusDark commented on #45
@KaRkY First of all, thanks to be interested on this project. The idea behind styled-components is to  create new components/elements/anything for Bloomer, but I believe that that's going to be for V2, right now you can see a few issues regarding V1 -> https://github.com/AlgusDark/bloomer/milestone/1

@floric I believe that styled-components use glamor under the hood, so we can opt for styled-comp

[2017-06-16 16:49] AlgusDark opened #52 "New API for Responsive Helpers"
| Prop | type | Description |
| --- | --- | --- |
|*isDisplay* | `string` - `string[]` - `object` | **keys** `flex` - `block` -`inline` - `inline-block`- `inline-flex` <br/><br/> **values** `mobile`- `tablet` - `touch` - `desktop` - `widescreen` - `tablet-only` - `desktop-only` |

Value can be `string` or `string[]`, so users can:

[code]

[code]

[code]

[code]

With this, we're going to reduce t

[2017-06-16 16:57] AlgusDark commented on #52
| Prop | type | Description |
| --- | --- | --- |
|*isDisplay* | `bool` - `string` `string[]` | `mobile`- `tablet` - `touch` - `desktop` - `widescreen` - `tablet-only` - `desktop-only` |

[2017-06-19 16:53] AlgusDark opened #53 "Add JSDOC on entire project"
This way, intellisense is going to be better with this hints. Also, it's going to be easier for new developers to contribute.

[2017-06-19 16:56] AlgusDark commented on #46
Actually, we have this "`side effects`" on every component since we `export default withHelpersModifiers` **HOC**, so... we need to add the annotation `/*@__PURE__*/` in function call to let uglify remove it:

[code]

[2017-06-20 18:04] AlgusDark opened #54 "Add `tag` prop to Documentation"

[2017-06-20 23:02] AlgusDark commented on #47
So, according to the investigation, this will break Atomic Tree-Shaking, since Bloomer is inspired on small modules, user should create a component that has the required elements, that way won't import a lot of stuff from `bloomer` in one file.

[Tree-shaking example](https://rollupjs.org/repl?version=0.43.0&shareable=JTdCJTIybW9kdWxlcyUyMiUzQSU1QiU3QiUyMm5hbWUlMjIlM0ElMjJtYWluLmpzJTIyJTJDJTIyY29k

[2017-06-20 23:02] #47 closed

[2017-06-24 04:02] AlgusDark commented on #46
We need to wait until resolution of https://github.com/Microsoft/TypeScript/issues/16727, and/or https://github.com/Microsoft/TypeScript/issues/13721 to see how we can implement Tree-Shaking because right now, TSC is removing `/*@__PURE__*/` comment.

[2017-06-24 04:03] #48 closed

[2017-06-24 04:03] #49 closed

[2017-06-24 04:03] #50 closed

[2017-06-24 04:03] #51 closed

[2017-06-24 04:03] #52 closed

[2017-06-24 04:03] #54 closed

[2017-07-03 05:22] webernir commented on #45
I would love to see Bulma uses `styled-components`.  what's the plan? can I help?

[2017-07-03 13:10] AlgusDark commented on #45
@webernir of course you can help. Today I'm going to start defining the Roadmap for 1.0 so we can start coding. You can help with comments and code. I'll tag you once roadmap draft is up.

[2017-07-04 15:25] AlgusDark commented on #45
@webernir [Simple Roadmap to 1.0.0](https://github.com/AlgusDark/bloomer/wiki/Roadmap-to-1.0)

[2017-07-06 05:44] webernir commented on #45
@AlgusDark is there a branch for that?

[2017-07-06 15:20] AlgusDark commented on #45
@webernir Right now, we have branch [bloomer-1.0.0](https://github.com/AlgusDark/bloomer/tree/bloomer-1.0.0). But I'm working on branch [bulma-0.5.0](https://github.com/AlgusDark/bloomer/tree/bulma-0.5.0), this one has the new Navbar. After finish this one, I'll start working on the bloomer-1.0.0 with styled components.

[2017-07-28 17:24] AlgusDark commented on #45
@stern-shawn : Hi, thanks for the suggestion. Although we discussed `Glamorous` to be used on Bloomer, we selected `Styled-Components` because of the `tagged templates` and the support that has behind :)

Of course you can contribute, If no TS experience, don't worry, you can learn :)
For the second point, I'm not clear if that's a question, hehehe. What we need to do, is to bring all `*.sass` fil

[2017-07-28 18:38] stern-shawn commented on #45
@AlgusDark Great to know, thank you for letting me know about the decision!

For the second point, that's actually what I'm curious about: how are you bringing the `*.sass` from `bulma` into the project and exposing it your components?

I can see in the source files that you are applying different `bulma` classNames to the components based on `props`. That part definitely makes sense. :) The part

[2017-07-28 18:52] AlgusDark commented on #45
@stern-shawn Ohhh, actually we leave that to the user, you just need to have global bulma css in your project.

The fun part here, is that Bloomer V1 is going to be a complete rewrite, and we're going to have **js** files with **objects** that can be injected trough **ThemeProvider** from `styled-components`.

That way, you could do something like:

[code]

And Button has **Bloomer** default _prim

[2017-07-28 20:05] stern-shawn commented on #45
@AlgusDark Ahh that makes more sense! I feel silly for not having thought of that option.

Awesome, I will have to take a look over the weekend!

[2017-07-29 13:24] AlgusDark commented on #45
Cool, next week I'm going to work in a first implementation so it should be
easier to start doing some collaboratin with that starting point.

Thanks to be interested in this project :)

El 28 jul. 2017 15:05, "Shawn Stern" <notifications@github.com> escribió:

[2017-08-16 09:19] ghalex commented on #45
Hi @AlgusDark, first this is an awesome project, congrats. Second I saw this issues and I recently worked on something called [styled-utils](https://github.com/ghalex/styled-utils) and I was inspired by your code to write the modifiers in styled-components, maybe it can help you in writing bloomer with styled-components.

Check [this components](https://github.com/coderboxapp/coderbox-atoms) for s

[2017-08-16 15:14] AlgusDark commented on #45
Thanks @ghalex, your project looks really cool. I'm really excited in the new bloomer implementation with `styled-components`, since that way the user could create themes by himself or use the default one or do some customizations.

Right now, we're working on bring new components from `bulma` (Dropdown and other two more), then we can work again with the `styled-components` work :)

[2017-08-28 00:47] AlgusDark opened #65 "Missing `isFullWidth` prop in Table element"
[Table element](https://bloomer.js.org/#/documentation/elements/table) is lacking of `isFullWidth` prop, so it can render `is-fullwidth` css rule from [bulma](http://bulma.io/documentation/elements/table/).

[2017-08-30 21:28] jorsh opened #66 "Links on NavBar section are redirecting to home page"
When you're here
https://bloomer.js.org/#/documentation/components/navbar

and you click on a link like "Home", "One A" or "Two B" you are redirected to the home page.
You can always hit "Back" on your browser, but it might be confusing for some people.

[2017-08-30 22:54] jorsh commented on #65
Also, the isSelected modifier is missing for <tr>

[2017-09-02 14:49] MunifTanjim opened #67 "no way to use Tab & TabLink with NavLink from 'react-router'"
[code]
will generate:
[code]

But, `NavLink` from `react-router` can only add className to itself, if it's active.
[code]
if we're in `/path` url, it will generate:
[code]

So, even if we compose `NavLink` & `TabLink`, there's still no way to use `bulma`'s style with it. Because, we can't add className to `Tab` when `NavLink` is active.

[2017-09-04 05:50] AlgusDark commented on #67
@MunifTanjim , you're right, there is no way to use `NavLink`, but remember that you have `Link` and you can use it like this [example](https://codesandbox.io/s/0qyy25k48v). This example is based on **React Router** [custom link](https://reacttraining.com/react-router/web/example/custom-link) example.

Since Bulma use this kind of classes for tabs, we're unable to change the behavior. I've been re

[2017-09-04 05:56] MunifTanjim commented on #67
Thanks for the response. :smiley: Actually I solved it earlier (and forgot about this issue). I'll leave my solution here:

[code]

[2017-09-04 05:56] #67 closed

[2017-09-04 05:59] AlgusDark commented on #67
@MunifTanjim lol, actually my first tough was to reply you about the `render` method that most of `anchors` have in **bloomer**. These were tough for this situation when I was facing so many troubles (well, more code) writing the documentation.

Thanks for your solution posted here. I'll leave a code in my comment so we can have both solutions.

[2017-09-11 19:40] howesteve opened #68 "Extensions support?"
Hello,

Would love to see extensions support (i.e. http://bulma.io/extensions/).
Any plans to do so? Even on a separate "bloomer-extensions" project.

Thanks,
Howe

[2017-09-11 19:44] AlgusDark commented on #68
Hello. Extensions should exist in other repo as you mention. So, no plans
on this by me. Since these extensions are from community... It should be
better if someone want to make them... Maybe asking for permission from
authors?

El 11 sept. 2017 14:40, "Steve Howe" <notifications@github.com> escribió:

Hello,

Would love to see extensions support (i.e. http://bulma.io/extensions/).
Any plans to do

[2017-10-08 09:44] kaspermarstal opened #69 "CSS not loaded"
The CSS is not loaded when using bloomer with next.js. Take a look at this example:

componentes/hero.js

    import { ... , Hero, ... } from 'bloomer'
    export default () => (
      <Hero isSize='medium'>
      ...
    )

layouts/body.js

    import Head from '../components/head'
    import Header from '../components/header'
    import Footer from '../components/footer'

    export default ({ c

[2017-10-08 12:41] AlgusDark commented on #69
Are you importing bulma? Right now you need to import bulma in your project
since bloomer *currently* is just a wrapper. So doesn't import bulma by
itself.

In future releases is going to be a styled-componentes library with his own
styles.

El 8 oct. 2017 04:44, "Kasper Marstal" <notifications@github.com> escribió:

The CSS is not loaded when using bloomer with next.js. Take a look at this
exampl

[2017-10-08 13:04] kaspermarstal commented on #69
Appreciate the quick response. How do I load Bulma with import? Could not find it in your otherwise excellent documentation. A naive approach like `import 'bulma'` or `import 'bulma/css/bulma` does not work.

[2017-10-08 13:10] AlgusDark commented on #69
Well... That's weird.

If you're using SASS, you can import modules like:

[code]

If not, `import 'bulma/css/bulma' should work. Do you have an example nextjs repo where I can test this? I've never tried next but I can try now igual you help me with that :)

[2017-10-08 14:45] kaspermarstal commented on #69
Sure! Here it is: https://github.com/kaspermarstal/x-rai-website. Run `npm install` and `npm run dev`. The website is styled because of the [link rel](https://github.com/kaspermarstal/x-rai-website/blob/master/components/head.js#L8). You can remove this line and uncomment [the import](https://github.com/kaspermarstal/x-rai-website/blob/master/pages/index.js#L1) to see the error.

[2017-10-08 18:07] AlgusDark commented on #69
Hey, this seems to be a configuration error.

`You may need an appropriate loader to handle this file type`

So, you need something for `Next` like [css-modules](https://github.com/css-modules/css-modules-require-hook).

Please check [this thread](https://github.com/zeit/next.js/issues/544).

Once that you have the correct loader, you're going to be able to import `bulma` css.

I'm going to close

[2017-10-09 15:35] kaspermarstal commented on #69
Thanks will try that and let you know!

[2017-10-23 00:18] techieshark opened #70 "flow type definitions?"
I'm working on a project using [Flow](https://github.com/facebook/flow), and was trying (unsuccessfully) to generate flow type definitions from the typescript type definitions, using [flowgen](https://github.com/joarwilk/flowgen/).

[code]

I'm curious if you've considered providing flow type definitions, perhaps in the code or through the [flow-typed](https://github.com/flowtype/flow-typed) proje

[2017-10-25 17:18] AlgusDark commented on #70
Sorry for my late answer @techieshark.

Actually, I haven't done anything with Flow, so no plans on flow type definitions for the moment. If you have time, it would be really great if you can make those types :)

I'm going to do some research but right now flow is going to be a `nice to have` feature.

[2017-10-25 18:13] techieshark commented on #70
Thanks @AlgusDark

I've posted an issue with the errors I saw from flowgen, here: https://github.com/joarwilk/flowgen/issues/21

I'm hoping that any advice I might hear back from that issue could be helpful in figuring out how to get an automated process set up to generate flow types from the typescript types you already have.

[2017-10-25 18:17] AlgusDark commented on #70
Thanks, I'll keep an eye on this.

[2017-11-03 01:53] dylanleung opened #71 "No upload components?"
why

[2017-11-04 14:22] AlgusDark commented on #71
First release of Bloomer is exactly as Bulma css, so... That's why (altough
we're still missing a few components).

If you can make it, a PR is welcome :)

[2017-11-14 11:37] Vortelf opened #72 "Make it more modular"

[2017-11-14 13:21] AlgusDark commented on #72
Can you give a description? Maybe an example?

Thanks.

[2017-11-14 15:20] Vortelf commented on #72
Best example I could give you is [Semantic-UI-React](https://github.com/Semantic-Org/Semantic-UI-React).

[2017-11-28 15:03] thawankeane opened #74 "Dropdown example ?"
I saw that Dropdown component was added, but how can I use it ?

[2017-11-28 19:17] AlgusDark commented on #74
Sorry, now is published at https://bloomer.js.org/#/documentation/components/dropdown

[2017-11-28 19:17] #74 closed

[2017-11-28 19:47] thawankeane commented on #74
Thanks !

[2018-01-01 18:00] venomlust opened #75 "Not applying 'is-fullwidth' to button"
`is-fullwidth` css rule is not applying for the button when using `isFullWidth={true}`

[2018-01-01 18:22] venomlust opened #76 "Some attributes name are misleading?"
When I read the docs I got the feeling that "isColor" and "isSize" are states from the component, but I think it shouldn't be.

Only removing "is" from the attributes name makes it more understandable. Or am I wrong?

[2018-01-01 18:54] venomlust opened #77 "Missing hasTextAlign on Container component"
Missing `hasTextAlign` on Container component

[2018-01-02 21:06] AlgusDark opened #79 "Icon is not working correctly"
We need to create a new _prop_ for `Icon` **fa** that can receive a string for all the moddifiers that FontAwesome have. For example:

`<Icon icon="cog" fa="fa-cog fa-spin fa-3x fa-fw">`

[2018-01-02 21:22] AlgusDark commented on #77
`Container` (as all bloomer elements/components) has all the [helpers props](https://bloomer.js.org/#/documentation/overview/helpers) as you can see at [Container.tsx](https://github.com/AlgusDark/bloomer/blob/master/src/layout/Container.tsx#L24).

`<Container hasTextAlign="centered"/>` works fine.

Can you confirm and close the issue if everything is ok?

Thanks!

[2018-01-03 09:15] panbhatt opened #80 "React 16 - Not working"
Hi Team,
   can we have this library for React 16. I see it is using React.createElement and both React.createElement and React.PropTypes has been deprecated.

[2018-01-03 18:23] AlgusDark commented on #80
Maybe we can import [create-react-class](https://www.npmjs.com/package/create-react-class) for the moment, since we want to create a new major version with `styled-components`.

@panbhatt want to help us with this ticket?

[2018-01-03 18:39] #77 closed

[2018-01-03 18:40] omganunicorn commented on #75
This is working for me; since isFullWidth is part of the helpers, adding either the `isFullWidth` prop or making it dynamic with `isFullWidth={true}` worked.

[2018-01-03 18:41] AlgusDark commented on #75
Button (as all bloomer elements/components) has all the helpers props as you can see at [Button.tsx](https://github.com/AlgusDark/bloomer/blob/master/src/elements/Button.tsx#L55).

`<Button isFullWidth/>` or `<Button isFullWidth={true}/>` works fine.

Closing this issue, you can open it if you found that something is wrong.

[2018-01-03 18:41] #75 closed

[2018-01-03 19:24] panbhatt commented on #80
@AlgusDark : Sure, I can help up. I know react (intermediate level) and Bulma. If you can provide me a guidance I can do it.

[2018-01-03 20:21] AlgusDark commented on #80
Thanks @panbhatt.

The first think to do is to upgrade React on package.json to last stable one (right now we're using 15 for docs) on `dev-dependencies` so we can test it in docs.

Then we can add _create-react-class_ and _prop-types_ to `"dependencies"` in package.json, that way we can ensure that final users should install those dependencies.

Can you add `"peerDependencies "` at _package.json_

[2018-01-03 21:46] #71 closed

[2018-01-03 21:47] #69 closed

[2018-01-05 01:18] venomlust commented on #76
I see.. maybe someone else could comment

[2018-01-05 07:59] panbhatt commented on #80
I tried that. however i am receiving a number of errors.
ERROR in [at-loader] ./node_modules/@types/react/index.d.ts:3531:19
    TS2320: Interface 'Element' cannot simultaneously extend types 'ReactElement<any>' and 'ReactElement<any>'.
  Named property 'type' of types 'ReactElement<any>' and 'ReactElement<any>' are not identical.

ERROR in [at-loader] ./node_modules/@types/react/index.d.ts:3532:1

[2018-01-05 18:44] #79 closed

[2018-01-09 20:51] AlgusDark commented on #80
Did you upgraded TypeScript types for React? -> https://github.com/AlgusDark/bloomer/blob/master/package.json#L19

[2018-01-10 06:06] joyhchen commented on #65
Looks like this requires a Bulma version higher than 0.4.1

[2018-01-10 19:20] AlgusDark commented on #65
We're migrating to 0.5.3 for next minor-release.

Next version should have `styled-components` and latest bulma version.

_Going to work on that this month_

[2018-01-11 14:27] panbhatt commented on #80
i tried after updating all the things.

DEV dependencies is :
  "@types/classnames": "^2.2.3",
    "@types/enzyme": "^3.1.6",
    "@types/jest": "^22.0.1",
    "@types/node": "^8.0.17",
    "@types/react": "^16.0.34",
    "@types/react-dom": "^16.0.3",
    "@types/react-router-dom": "^4.2.3",
    "awesome-typescript-loader": "^3.2.1",
......

}
"dependencies": {
    "classnames": "^2.2.5",
    "cr

[2018-01-19 21:27] djfdev opened #84 "Usage with redux-form"
I'm honestly not sure if this is an issue with redux-form, bloomer, or my concoction of the two, but I'm experiencing a very strange issue. Basically I have a component that wraps a bloomer `Input` in a `Field` from the redux-form library:

[code]

Here's an example use inside of a form:

[code]

When I focus on the input and type a single character, it immediately blurs and I lose focus. What's e

[2018-01-22 15:58] seanWLawrence commented on #45
Hey @AlgusDark, this repo is great! I was just about to start working on recreating this with styled components myself to add the option to update theme styles with the [Netlify CMS](netlifycms.org) dashboard and saw you're already working on it.

Is there anything I can help with?

[2018-02-03 14:03] Heanthor opened #85 "Allow custom colors with isColor"
I noticed that the isColor prop only works with built-in colors like `primary`. But by customizing bulma's `$colors` variable, you can use new colors with the `is-` prefix.

For example:

[code]

will style this correctly
[code]

but this does not work in Bloomer
[code]

Does this feature make sense to add? Right now, I'm having to manually set the colors like so
[code]
which removes some of the c

[2018-02-03 22:45] Heanthor commented on #85
I haven't worked with typescript before, but I could certainly learn a little and try to contribute.

So you're suggesting a file like `colors.ts` that the user adds to define their own colors, instead of using scss? Then just check if it's defined in the main bulma.ts?

[2018-02-04 22:58] AlgusDark commented on #85
All colors are in [bulma.tsx](https://github.com/AlgusDark/bloomer/blob/master/src/bulma.tsx#L45) *Colors type*. Maybe we can implement a `default` for [isColor](https://github.com/AlgusDark/bloomer/blob/master/src/bulma.tsx#L150) that is used in [getColorModifiers](https://github.com/AlgusDark/bloomer/blob/master/src/bulma.tsx#L262) like:

[code]

That way we can have *Typescript* intellisense an

[2018-02-05 04:12] Heanthor commented on #85
So you're suggesting we remove the `isColor` check from `getColorModifiers` to allow any color to work with the function, in which case would it look like this? :

[code]

I understand now why I'll need to add a default to the `Colors` type to let me pass an arbitrary string as a Color. This change seems to make the `isColor` function unused, but I suppose that's okay.

Might we also want to modif

[2018-02-05 04:56] AlgusDark commented on #85
Yes, I believe that the best way should be to remove the `isColor` constraint and accept strings, at the end this way we can have the "default" as a **Color**. So we should remove [isColor](https://github.com/AlgusDark/bloomer/blob/master/src/bulma.tsx#L150) and make the functions receive `color type` (like we do now) and return whatever the user pass.

So, if a user pass something like `<Button i

[2018-02-08 02:08] AlgusDark commented on #45
@seanWLawrence Thanks for your comments. And I'm very sorry to this late answer, I was really busy. Next week we're going to start working on some implementation. The basic idea is to translate all [SASS](https://github.com/jgthms/bulma/tree/master/sass) from bulma to **styled-components** with the help of [polished](https://polished.js.org/). If you want to contribute, maybe we can open a slack s

[2018-02-08 14:27] seanWLawrence commented on #45
@AlgusDark It’s all good, thanks for getting back to me.

And yes, I’d love to help - works great for me!

Sean W. Lawrence

[2018-02-21 14:16] jonasgrunert commented on #80
Do you still need help?

[2018-02-21 23:01] AlgusDark commented on #80
@jonasgrunert that would be really helpful, I'm working on the `styled-components` implementation.

[2018-02-22 15:36] jonasgrunert commented on #80
@AlgusDark Did it today. Should be fine and refined some testing. Love your work .)
Already created a Pull Request [#87](https://github.com/AlgusDark/bloomer/pull/87)
If I can support in any other way let me know.

[2018-02-22 16:35] jonasgrunert commented on #80
I found the error in the travis:ci right now and tried to fix ist. My own Travis build crashes due to timeout. What should I do from there?

[2018-02-23 07:09] jonasgrunert commented on #80
Fixed it. Feel free to merge.

[2018-02-23 07:47] MDOR commented on #34
Sup!
I was looking at the project and I got an idea about set a new structure for the project:
[code]
We ensure that:
- Each test is contained into the main folder so, tha's easy to understand
- The config files are not polluting the main file
- The setup files to do some task are contained in folder so we avoid pollute the root folder

[2018-02-23 14:34] AlgusDark commented on #80
Thanks, I'm going to check these :D

[2018-02-23 14:38] AlgusDark commented on #34
Yes, I like that. Let's work that on the new version. Also, we could use jest snapshots.

[2018-02-27 08:59] panbhatt commented on #80
Thanks Team. :)

[2018-03-08 19:14] pauleveritt commented on #67
I know it is poor form to comment on a closed ticket, but this is almost exactly like what I'm seeing. Let me know if you want a new ticket.

- For styling purposes, I'd like to use <NavbarItem href={'/todos'}>Todos</NavbarItem>
- But react-router generates a full page reload for that, because Bloomer generates an <a href="">
- I could instead do <NavbarItem onClick={() => history.push('/todos')}>

[2018-03-08 21:43] AlgusDark commented on #67
@pauleveritt a gist would be really helpful :)

[2018-03-08 22:30] pauleveritt commented on #67
Here you go: https://gist.github.com/pauleveritt/c5bc6d6f317daede74b97216294bb87f

I suspect the gist will be insufficient as well, as this is an interaction with react-router 4.

[2018-03-08 23:36] AlgusDark commented on #67
@pauleveritt yeah, it would be better if you create a small repo... or a http://codesandbox.io example with the minimal stuff you want to do. If that's possible, that would be really helpful.

I believe that you would need the `render` prop on `NavBarItem` but let's see your example.

[2018-03-09 13:21] pauleveritt commented on #67
I'll investigate your suggestion first. I'd prefer not to clutter up this ticket with a side issue. Thanks for the fast responses.

[2018-03-16 09:13] azulkipli opened #91 "Support for Font Awesome 5"
Is this already support Font Awesome 5?

I got something like this screenshot when including
[code]
![screen shot 2018-03-16 at 16 12 41](https://user-images.githubusercontent.com/8231792/37512511-f28cd338-2934-11e8-9bdf-bfa81af259f4.png)

Bulma 0.6.2 already support Font Awesome 5
https://bulma.io/2018/01/18/bulma-supports-font-awesome-5/

[2018-03-16 10:04] azulkipli commented on #91
I endup using this https://github.com/FortAwesome/react-fontawesome

[2018-03-28 07:28] Kaisaurus opened #92 "Can't set ref to <Input>"
I am unable to set a ref to a `Input`, which I want to use to `focus()` on it.

It seems to be because `Input` is not declared as a class. ([which is required to set refs](https://reactjs.org/docs/refs-and-the-dom.html))

[code]

[2018-04-09 23:57] mrmanicou opened #93 "A cool set of React Stateless components for Bulma v0.4.3"
Any reason this says "Bulma v0.4.3"? I've been turned back a few times because I thought this was not going to support newer versions of bulma. Only just realized it's being updated. What am I missing?

[2018-04-13 09:49] ekoeryanto opened #94 "Missing hasTextWeight Property"
As mentioned in title

[2018-04-17 15:03] atrauzzi opened #95 "Some more complex components?"
Looking at Buefy and it seems to have quite a few interesting and useful components implemented.

- https://buefy.github.io/#/documentation/datepicker
- https://buefy.github.io/#/documentation/taginput
- https://buefy.github.io/#/documentation/timepicker
- https://buefy.github.io/#/documentation/upload

Any chance you'll be including some as part of bloomer as well?

[2018-04-18 00:51] AlgusDark commented on #95
Hi, it seems that maybe we can do something in V1, once that we pass everything to Styled-Components. Once that's complete, maybe we can start with some of these nice looking components.

I'll close it since this is going to be in a milestone.

Thanks!

[2018-04-18 00:51] #95 closed

[2018-04-18 00:53] AlgusDark commented on #94
Should be this a [Helper](https://bloomer.js.org/#/documentation/overview/helpers)? can you elaborate better this?

Thanks!

[2018-04-18 01:08] AlgusDark commented on #93
You're right, we have outdated the README.

Will change that. Thanks

[2018-04-18 01:08] #93 closed

[2018-04-18 01:09] AlgusDark commented on #92
Hi, sorry for the late answer.

You're right, we need to fix this. I'll work on it.

[2018-04-18 16:55] ekoeryanto commented on #94
yes, I think it's better to have `hasTextWeight` int the helper

[2018-04-25 10:25] Kaisaurus opened #96 "Feature Request: Add Bulma-Extensions components"
I just discovered [Bulma-Extensions](https://wikiki.github.io/), pretty awesome stuff! and thought.. It would be even more awesome if these would one day be accessible as ready to use React Components through Bloomer!

[2018-04-27 21:24] andrralv opened #97 "Request: Add File Upload element to Forms"
Is this implemented? I can't find it anywhere in the documentation.

[2018-05-06 13:01] yo7 commented on #76
I, too think it’s better to have simple attribute names. `is-` prefixed names like `isColor` and `isSize` feels like a property which returns boolean value.

[2018-05-11 19:38] dimitrisnl opened #98 "Typo in Navbar docs"
https://github.com/AlgusDark/bloomer/blob/723e9ebd813a7861d0be70c6d149bb73f6217f28/docs/src/Scenes/Documentation/Components/Scenes/Navbar.tsx#L132

[2018-05-15 16:33] devth opened #100 "Package CSS via CSS in JS"
What do you think about bringing Bulma into CSS in JS using something like styled-components?

[2018-05-16 16:18] devth opened #101 "Override Bulma variables"
How do we override Bulma's variables when using Bloomer? I thought just defining the var before importing Bloomer would do it, but it doesn't seem to affect anything, e.g.:

[code]

Looking through the source it's not clear how Bloomer even imports Bulma. Does it happen automatically?

[2018-05-16 16:41] devth commented on #101
Got it working. I thought `$primary` was derived from `$cyan` but it doesn't appear to take affect, so I had to explicitly override `$primary` too:

[code]

[2018-05-16 16:41] #101 closed

[2018-05-17 01:18] imcodingideas commented on #45
I like scss better because, at least I think so because we can have things like autoprefixer. Do styled-components offer this?

[2018-05-17 01:39] stern-shawn commented on #45
@imcodingideas yes I believe everything generated through styled-components is processed via postcss. I started migrating a project at work to styled-components and I've noticed that all of the resulting css has vendor prefixing that I hadn't added previously.

[2018-05-20 17:01] jackjwilliams commented on #80
Any update on this?

[2018-05-20 17:04] #98 closed

[2018-05-20 17:08] AlgusDark commented on #80
We need @mdor help on this one

[2018-05-21 14:44] #80 closed

[2018-05-21 19:19] jackjwilliams commented on #80
Sweet, thanks @AlgusDark and @MDOR!

I just noticed that the last release was nearly a year ago, do you guys have plans to release to NPM? Or maybe you don't store releases in github.

[2018-05-24 17:32] imcodingideas opened #102 "Tab Content"
Hello,

Which component do I need to use to set a is active flag for tab content? Say I have 2 tabs, and those tabs have different content.

I don't see any examples in the documentation.

[2018-05-28 17:49] sergiandreplace commented on #92
Still not working?

[2018-05-31 21:16] sandalsoft commented on #69
For those having a similar issue with the CSS not rendering when using create-react-app, this is the import that fixed it for me:

`import 'bulma/css/bulma.css';`

Referenced here: https://github.com/jgthms/bulma/issues/388#issue-190008467

[2018-06-05 04:23] Heasummn opened #103 "Must use default export to get Helpers"
This isn't a bug, but rather a clarification of the documents. I was trying to use Bloomer and the Helpers were not working, so after some debugging, I realized, only the default export has Helpers attached. I couldn't find this anywhere in the docs, and I didn't realize this straight away. Mentioning this somewhere or making it clearer would definitely benefit the usability of Bloomer.

[2018-06-14 00:52] eugeneross opened #104 "Overrides"
For overriding Bulma variables and things like breakpoints, it's pretty straightforward. How would the same concept be done using Bloomer?

Mainly, I want to be able to override the breakpoint values and a few other elements that come with Bulma.

[2018-06-14 01:18] eugeneross commented on #45
Any update on this? Is there a repo with styled-components being used?

[2018-06-15 13:48] jonasgrunert commented on #104
A way that worked for me, was adapting the Bulma sass files through new I have written. This way you can do it the same way as in Bulma and dont have to adapt your code and keep your js clean. E.g.:
[code]
Then as you are packing your application you can either include it into your application with bundlers or set up a build job to generate a plain css file.
I hope this helped you. If not feel fre

[2018-06-15 13:52] jonasgrunert commented on #102
You can give the actual Tab Component an active flag. The content should get marked active by itself as long as it is text. Hope that helps otherwise is [this link](https://bloomer.js.org/#/documentation/components/tabs) maybe helpful.

[2018-06-15 22:37] davepwsmith commented on #68
I would be happy to take a stab at this if you could point me in the right direction - how would bloomer expose its internals to be extended? e.g. it doesn't look like Bulma is currently exported, which seems quite crucial!

[2018-06-18 06:18] imcodingideas commented on #102
@jonasgrunert yes thats to show the active tab but not displaying the content thats in that tab.

[2018-06-27 04:54] AlgusDark commented on #76
Ok, we're going to check this as a proposal for new version, this looks promising.

[2018-06-27 04:56] AlgusDark commented on #92
No, sorry, I moved to another country and I'm starting everything for new version now that I have a PC

[2018-06-27 04:57] AlgusDark commented on #103
Thanks, I'll check how we can do this in the documentation.

[2018-06-27 04:58] AlgusDark commented on #45
Sorry, I moved to Japan and didn't had a PC, now I can start with this.

[2018-06-27 04:59] AlgusDark commented on #104
Right now you just need to use bulma for that. Take the sass and compile it to css, importing it.

Next version should had all this with Styled-Components.

[2018-07-04 12:59] srikrsna commented on #69
@kaspermarstal Could you get this to work?

[2018-07-05 23:59] aszecsei opened #105 "Documentation build errors"
When building the documentation, I get errors:

[code]
It seems related to react-router but I'm not familiar enough with the package to fix it.

[2018-07-06 00:04] AlgusDark commented on #105
Thanks for your interest in the project.

Maybe the types has changed and forgot to do a fix from my side, I'll check
on this so we can merge your PR :)

[2018-07-12 19:04] goras opened #107 "Missing possibility to set the alt and title attribute of images"
It would be nice to be able to set the `alt` and `title` attribute on an <img /> using the Bloomer Image component because of SEO, screen readers and stuff. As of now, attributes added will only be rendered on the <figure /> tag.

[2018-07-13 04:28] AlgusDark commented on #107
Yes, you're right 🤔
Right now we pass all attributes to [figure](https://github.com/AlgusDark/bloomer/blob/master/src/elements/Image.tsx#L74). We need to figure out (pun intended) a clever way on how to pass attributes to [img](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#Attributes) tag.

[2018-08-19 12:49] debotos opened #109 "button loader not showing on first click"
![error](https://user-images.githubusercontent.com/29367677/44308915-1da2a400-a3e0-11e8-93b4-658dc47b5a6a.png)
At the first click, it's showing just an empty button without button content or text.
on second click it's showing the loader.
[code]

[2018-08-20 09:30] AlgusDark commented on #109
This is not a Bloomer problem. This is a CSS/Bulma issue. Once you click on your `Button`, it's going to keep the `hover` and that's why when you click again, it's going to loose the `hover`

You can fix this by making it as an `Anchor` or other HTML Element:

[code]

👍 Thanks to use Bloomer, once I got Internet I'll start making new improvements for the new Version.

[2018-08-20 09:30] #109 closed

[2018-08-21 18:59] jonasgrunert commented on #102
Sorry for the super late answer. To clarify: Tab just provides you with a menu. To render contents based on the active Tab is your responsibility. If you need additional information I can provide you with an example later on.

[2018-08-22 00:12] AlgusDark commented on #102
@imcodingideas sorry for the late answer. I don't have internet at home and I cannot work on the project for some time (I was working on V2 and I'm going to continue again maybe in two months).

You can see the source code for the [Documentation page](https://github.com/AlgusDark/bloomer/blob/master/docs/src/Scenes/Documentation/Documentation.tsx) on how we do the change with React Router.

Here i

[2018-08-22 21:23] pariola opened #111 "Can't set properties in 'Column' element"
The component doesn't follow the the props.

[2018-08-22 21:28] pariola commented on #111
found the issue, i was passing in a string instead on an integer

[2018-08-22 21:28] #111 closed

[2018-08-24 18:35] alerizzo opened #112 "Problems with Rollup and Bloomer"
Suddenly, I stop being able to publish a library that uses bloomer with rollup during its deploy. The error was with the classNames import, but actually, it was with every import that was not a namespace. So, in bloomer all imports are written in the form `import * as ______ from ______;`

This seems ok for namespaces, but it is not for functions. So, is ok for `React`, but wrong for `classNames`.

[2018-08-27 01:45] AlgusDark commented on #112
That's true, actually this was because of the version of TS. Thanks to bring this issue. What we need here is upgrade `TS` and add this in our `tsconfig.json`:

[code]

Then we need to refactor all of our imports from `import * as XXX from 'XXX'` to `import XXX from 'XXX'`. For now I'm having a lot of issues with internet (moving to Japan and they are not very English friendly :/ ). You want to do

[2018-09-01 07:54] stanonyime opened #113 "Provide isAlign to Navbar Dropdown"
Thank you for this great project. It will be nice to have more options for the Navbar dropdown to allow aligning it either to right or left. I have a use case for having the dropdown as a child of a NavBarEnd. It currently projects beyond the viewport

[2018-09-04 15:32] AlgusDark commented on #113
Sorry for late answer. I'm unable for a moment (maybe one month) on working on this... If you want you can provide an example of the API for NavBar Dropdown and make a PR, or only with the first so anyone can jump on it :)

[2018-09-09 08:47] shubhranshu commented on #48
What is the process for updating the website. **Footer** example still have a **isFull** prop being injected. There is a similar issues with **Nav** example.

[2018-09-12 12:13] ITGuy9401 opened #114 "Provide <Buttons> element"
Button in a group should be contained in a 'button group'

https://bulma.io/documentation/elements/button/#list-of-buttons

[code]

I've created one for my webapp, I'm sharing it as a concept in this issue

[code]

[2018-09-13 19:31] Ikhan opened #115 "Any solution to focus Input"
I'm having an issue with focus on-load  in <Input>. Seems refs is breaking things. Any solutions welcome.

Thanks.

[2018-09-20 07:18] AlgusDark commented on #115
Can you make a simple example in http://codesandbox.io?

[2018-09-20 14:58] mpaupulaire-rms commented on #45
what about (bulma-styled-components)[https://github.com/mpaupulaire4/bulma-styled-components]

[2018-10-16 11:42] fea17e86 opened #118 "Typescript: Can't build with react-scripts-ts"
Hi

I'm using create-react-app with react-scripts-ts. When I'm trying to start or build my project I get the following error:

[code]

Do I have to modify my tsconfig to make bloomer work? I forked bloomer to look into the issue and couldn't even run bloomers build script because of multiple ts issues.

Thanks.

[2018-10-16 21:09] daxaxelrod opened #119 "Feature Request: Tile Support?"
Would love to add bulma's tiles to the project. Might end up doing it myself this weekend :D

[2018-10-16 21:10] #119 closed

[2018-10-17 14:30] voordev opened #120 "Update Repo?"
Is this repo still actively maintained?

[2018-10-17 14:34] AlgusDark commented on #120
Hi, for the moment is a solo mission and I don't have internet (changed jobs and country).

This is going to take a while, but I need to update this version and work only on next big release (with style components v4)

[2018-11-10 13:55] sioked commented on #118
I made some changes in a different PR that got this working with TypeScript 2.9.2 and react-scripts-ts. There may be some additional errors on TypeScript 3.x but it should be worth trying. At some point in the future I'll test on 3.x and open a new PR if there are any other outstanding issues.

[2018-11-10 21:08] philohelp opened #125 "isSelected prop for form components ?"
Hello,
First thanks for the great job ! Bloomer has been my favorite bulma lib for months.
Now for the question : is there any mean to have a default state for the form components ?
My use case : I have three radio buttons aligned and I'd like to programmatically set one of them as already selected on the first render.
Did I miss something ?
Thank you !

[2018-11-10 22:19] philohelp commented on #125
Ok, I missed something, the props is "checked" as any other radio.

[2018-11-10 22:19] #125 closed, assigned to nobody

[2018-11-16 17:17] nlfiedler opened #126 "Am I crazy, or are the icons missing from forms?"
Look at https://bloomer.js.org/#/documentation/elements/form in a recent version of any major browser and you should see that the icons are missing from the form fields. When did this start happening? I've noticed it for a while, but couldn't decide if it was just my imagination or a fluke. It's also not working in my own project. In my code, I have this:

[code]

Which turns into this:

[code]

I

[2018-11-18 23:52] LinuCC commented on #126
Got the same problem.
After a long session of bisecting I've found the issue to be the upgrade from 0.6.3 to 0.6.5 , something in there broke the rendering of either `react-fontawesome` or `@fortawesome/fontawesome-svg-core`.

[2018-11-19 03:55] nlfiedler commented on #126
The good news is, for simple cases, you can just move the `className` to the `Icon` element and skip the inner element altogether.

[2019-01-10 07:58] indrabinridwan commented on #126
yeah i've same problem +

[2019-01-15 10:36] tpkiddle commented on #118
Appears this is still not working.

[2019-01-17 17:19] dotmaike commented on #120
¬_¬

[2019-01-26 01:48] #120 closed

[2019-02-09 05:24] techieshark commented on #70
FYI, this has been fixed in flowgen: https://github.com/joarwilk/flowgen/issues/21#issuecomment-461681306

[2019-03-10 15:28] yaazkal opened #128 "Support rounded images"
The Image component is missing the option for rounded images: https://bulma.io/documentation/elements/image/#rounded-images

[2019-03-21 17:07] alerizzo commented on #112
@AlgusDark are you still here?

[2019-04-26 04:40] yaazkal opened #129 "Support responsive helpers to text-align helpers"
This feature is available since bulma 0.5.1.

Those responsive helpers allows to align text according to a breakpoint. The bulma documentation describe the [responsive-alignment](https://bulma.io/documentation/modifiers/typography-helpers/#responsive-alignment). Here is the commit: https://github.com/jgthms/bulma/commit/010b6d70a0e4baff1554b7c6406e71fd64881ca1

[2019-06-16 21:52] edunuzzi opened #131 "HeroSection documentation still using old `Nav` component"
Hi, i just noticed that the documentation section for the `HeroSection` is still using the old `Nav` component.

[2019-07-24 20:19] mlowijs opened #133 "Bloomer and CSS modules"
Does Bloomer work with CSS modules? If I enable them, Webpack will of course hash the names of the Bulma classes, and Bloomer does not use the right class names.

Is there a way to make this work?

[2019-08-01 14:47] matheusgrieger opened #134 "Dropdown is not working"
I've followed the docs on implementing a Dropdown, but it is not appearing when I click the trigger. Below is the code I'm using for that:

[code]

Do I need to implement the opening and closing on click by myself?

<details>
<summary>Versions</summary>

react@16.8.6
react-dom@16.8.6
bloomer@0.6.5

</details>

[2019-09-11 07:52] juhana commented on #134
The example in the documentation has a custom implementation for opening and closing so I assume that's what you have to do. https://github.com/AlgusDark/bloomer/blob/b9af8271840c9a52ecf493f3b1f919d8cd3e5fc1/docs/src/Scenes/Documentation/Components/Scenes/Dropdown.tsx#L41

The documentation strongly implies that `isActive` is needed only if you want the dropdown to be permanently open, so maybe th

[2019-09-11 07:57] juhana opened #135 "Feature request: Dropup support for the dropdown component"
Bulma dropdowns have an `is-up` modifier to make the dropdown menu open above the button instead of below it, but it's not available as a prop in Bloomer.

[2019-09-11 12:07] matheusgrieger commented on #134
Yeah, that's where my doubt originated from. I have a custom implementation, though. Thanks!

[2019-09-11 12:12] AlgusDark commented on #134
I will rewrite Bloomer to make it lighter than it is now and it will be easier to implement new Bulma.

At first wanted to create it with styled components but it was so hard to keep track to changes on Bulma :/

[2019-09-11 12:33] matheusgrieger commented on #134
Wouldn't styled components break theming capabilities with Bulma variables?

[2019-09-11 12:34] matheusgrieger commented on #134
By the way, if there's any support I can provide, be it in dev or test, I'm up for it!

[2019-09-11 12:51] AlgusDark commented on #134
My idea was to transform all sass logic into styled components css and use theming based on that. Too crazy to maintain but was very interesting doing it. Better is to wait for Bulma to use css variables.

Of course. If you have knowledge with lerna, would be interesting doing this a mono repo with Bloomer and Bloomer page. I will start doing all the tooling for Babel and eslint+TS.

[2019-09-17 13:10] hueitan commented on #118
[code]

Having the similar error when having the above script

[2019-10-09 05:55] lokesh1729 opened #136 "What extra advantage of using bloomer instead of plain bulma css classes"
Hi,

I am wondering what extra advantages does bloomer provide than using plain bulma css classes.

If we are using plain bulma, we will import whole css (`@import bulma/bulma.css`), so there we have unused css classes, so the css bundle size would be high. When using bloomer components, if I am importing a component (say button component), will it only include css for that component ?? thereby re

[2019-10-09 06:26] AlgusDark commented on #136
Hi,
bloomer are just react bindings... it doesn't export `bulma`, you need to do that.

So, the only advantage of using plain css clases is that you have react bindings so you don't need to write them.

At first, I wanted to create the thing you mention on export only some parts, but wanted to do it with styled-components or other CSS-in-js... problem is that is an entire rewrite and will be hard

[2019-10-09 06:30] lokesh1729 commented on #136
Hi,

thanks for quick revert, i really appreciate. rewriting with `css-in-js` is very hard... i got answer to my question. hence closing the issue :)

[2019-10-09 06:30] #136 closed, assigned to nobody

[2019-10-09 06:32] lokesh1729 commented on #136
@AlgusDark : I used bloomer in one of my projects, the problem is that, i need to refer both bulma and bloomer documentation to write code, also when using bloomer, it's hard to figure out whether a particular component is block level or inline or inline-block HTML element.

[2019-10-09 07:03] AlgusDark commented on #136
I see... yes, I need to rewrite this but since I moved to Japan, surprisingly I haven't found any free time.

I believe that there is no easy way to figure out the `display` of a react component in any UI library.

Anyhow, if you find some ideas, I would appreciate. Maybe it's better to have a V2 with Bulma inside and have a webpack loader to remove some CSS that isn't needed (with the help of _pu

[2019-11-17 09:13] kachar commented on #92
Hey @AlgusDark

I'm experiencing the same issue as stated above, so I consider the case still to be ongoing.

[code]

[code]

Here's an example setup: https://codesandbox.io/s/black-thunder-8enky?fontsize=14

---

I did stumbled upon this problem while trying to integrate Bloomer with [React Hook Form](https://react-hook-form.com/)

The main mechanism to link that lib is using the `register` metho

[2019-11-18 02:27] AlgusDark commented on #92
Sorry @kachar , the problem is that we don't have [react forward ref in the components](https://github.com/AlgusDark/bloomer/blob/master/src/elements/Form/Input.tsx).

I decided to rewrite the library to be more friendly. The quickest solution would be to start wrap the components in a forward ref, but my main focus is to rewrite the library as there are some utils that we don't need and could be

[2020-03-16 14:56] dacioromero commented on #46
I noticed this was marked as done, but there's still a minor issue with it.

The "browser" field in bloomer's package.json causes webpack to load the non-esm code which results in worse tree-shaking. https://github.com/AlgusDark/bloomer/blob/b9af8271840c9a52ecf493f3b1f919d8cd3e5fc1/package.json#L9

See https://github.com/webpack/webpack/issues/4674

[2021-03-04 13:49] EetieDee opened #151 "What to put on onClick={this.onClickNav} (navbar)"
Hi,

I was wondering how to make the navbar example code ready for using. I am totally new to React and I don't have a clue what to put on 'onClick={this.onClickNav}'. Could you give me a working 'navbar' example please?

Thanks in advance. E.

[2021-03-13 09:44] EetieDee opened #153 "Multiple select or tag form control?"
Hi,
Is it possible to use a multiple select in Bloomer (or a tag form control) to handle 'one-to-many entities' in a form? I cannot find it on your website and I tried some code from Bulma, but unfortunately I haven't succeeded yet to find a way. Could you (or someone) help? Thanks!

ETD.

[2021-03-13 10:11] #153 closed, assigned to nobody

[2021-03-13 10:11] #151 closed, assigned to nobody